.group{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", sans-serif;
    font-size: 1.4rem;
    line-height: 1.5;
    overflow: hidden;
    word-wrap: break-word;
    user-select: none;
    padding: 20px;
    border-radius: 20px;
    border:  2.5px solid black;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5%
}

img, video{
    border-radius: 20px;
    padding: 10px;
}

a{
    text-decoration: none;
}

a:hover{
    color: red;
}

.space::before { 
  display: block; 
  content: " "; 
  margin-top: -20px; 
  height: 15px; 
  visibility: hidden; 
  pointer-events: none;
}